<!DOCTYPE html>
<html>
  <head>
    <title>RorOracleBlog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: '_partials/navbar/nav' %>
    <%= render partial: '_partials/flashs/default_error' %>
    <%= yield %>
  </body>
</html>
